<p> <a href="{{ path("emily_twig_homepage") }}">Accueil Twig</a> | 
    <a href="{{ path("emily_twig_conditions") }}">Conditions Twig</a> | 
    <a href="{{ path("emily_twig_boucles") }}">Boucles Twig</a></p>
